.block {
  width: 9%;
  height: 70px;
  border: 1px solid ivory;
  margin: 1%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: bottom;
}

.day-label {
  width: 9%;
  display: inline-block;
  border: 1px solid transparent;
  margin: 1%;
  text-align: left;
}

.highlighted {
  border-color: yellow;
}

.calendar {
  max-width: 700px;
  margin: 0 auto;
}

h1 {
  margin-left: 1%;
}

body {
  background: #222;
  color: ivory;
}

.control-wrapper {
  margin: 1% 0;
}